* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ebeff4;
}
img {
    width: 45%;
    height: auto;
    position: absolute;
    left: 55%;
    z-index: 1;
}
.container {
    width: 90%;
    margin: auto;
}
/*header*/
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left {
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}
.left h3 {
    font-size: 15px;
    color: #1d0fa1;
}
.left .circle {
    width: 15px;
    height: 15px;
    background-color: #170dd8;
    border: 1px solid #1d0fa1;
    border-radius: 100%;
}
.right {
    z-index: 2;
}
.right a button {
    color: white;
    background-color: #1916e7;
    border: none;
    outline: none;
    padding: 8%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
/*main*/
main {
    margin-top: 200px;
}
.container2 {
    width: 80%;
    margin: auto;
}
main .container2 h5 {
    color: #7b7e8e;
    margin-bottom: 20px;
}
main .container2 h1 {
    font-size: 45px;
    font-weight: 200;
}
main .container2 h1 span {
    font-weight: bold;
}
main .container2 .kadr {
    width: 55%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: white;
}
main .container2 .kadr input {
    z-index: 3;
    font-size: 15px;
    width: calc(100% - 15%);
    color: #7b7e8e;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
main .container2 .kadr input:focus {
    border: white;
    outline: white;
}
main .container2 .kadr a {
    z-index: 3;
    cursor: pointer;
}
main .container2 .kadr a button {
    z-index: 3;
    width: 15%;
    color: #1d1e6f;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
/*media*/
@media screen and (max-width: 985px) {
    main .container2 .kadr {
        width: 80%;
    }
    main .container2 .kadr input {
        font-size: 13px;
    }
    main .container2 .kadr a button {
        font-size: 13px;
    }
}
@media screen and (max-width: 768px) {
    .container2 {
        width: 90%;
    }
    img {
        width: 50%;
        left: 50%;
    }
    .left .circle {
        width: 13px;
        height: 13px;
    }
    .right a button {
        font-size: 13px;
    }
    .left h3 {
        font-size: 13px;
    }
    main .container2 h1 {
        font-size: 35px;
    }
}  
@media screen and (max-width: 520px) {
    main .container2 .kadr {
        width: 95%;
    }
    main .container2 .kadr a button {
        font-size: 11px;
    }
    main .container2 .kadr input {
        font-size: 11px;
    }
}
@media screen and (max-width: 475px) {
    img {
        width: 55%;
        left: 45%;
    }
    .left .circle {
        width: 11px;
        height: 11px;
    }
    .right a button {
        font-size: 11px;
    }
    .left h3 {
        font-size: 11px;
    }
    main .container2 h1 {
        font-size: 30px;
    }
}  
@media screen and (max-width: 390px) {
    main .container2 .kadr {
        width: 100%;
    }
    main .container2 .kadr a button {
        font-size: 9px;
    }
    main .container2 .kadr input {
        font-size: 9px;
    }
}
@media screen and (max-width: 325px) {
    img {
        width: 60%;
        left: 40%;
    }
    .left .circle {
        width: 9px;
        height: 9px;
    }
    .right a button {
        font-size: 9px;
    }
    .left h3 {
        font-size: 9px;
    }
    main .container2 h1 {
        font-size: 25px;
    }
}  
@media screen and (max-width: 320px) {
    .right a button {
        font-size: 7px;
    }
    .left h3 {
        font-size: 7px;
    } 
    main .container2 .kadr a button {
        font-size: 7px;
    }
    main .container2 .kadr input {
        font-size: 7px;
    }
} 
@media screen and (max-width: 244px) {
    .right a button {
        font-size: 5px;
    }
    .left h3 {
        font-size: 5px;
    } 
    main .container2 .kadr a button {
        font-size: 5px;
    }
    main .container2 .kadr input {
        font-size: 5px;
    }
} 